@import "bootstrap/dist/css/bootstrap";
@import url("products/show.css");
@import url("products/");
@import url("user/register.css");
@import url("products/cart.css");
@import url("home/"); 
@import url("cart/historial.css"); 
@import url("cart/checkout.css"); 
@import url("dashboard/products.css");
@import url("dashboard/styles.css");
@import url("home/navbar.css");
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "swiper/css/bundle";

body header {
    background: white;
}

section header {
    background: #880a0a;
}

body {
    background: linear-gradient(to right, #880a0a, #880a0a);
    color: white;
}

.pagination .page-item .page-link {
    color: #880a0a;
}

.pagination .page-item.active .page-link {
    background-color: #880a0a;
    border-color: #880a0a;
    color: white;
}

.pagination .page-item .page-link:hover {
    background-color: #c60202;
    border-color: #844545;
    color: white;
}
.pagination .page-item .page-link:active {
    box-shadow: none;
}
.pagination .page-item .page-link:focus {
    box-shadow: none;
}
.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6;
}
.pagination .page-link {
    padding: 0.75rem 1.25rem;
    font-size: 1.2rem;
}

.pagination .page-item.active .page-link {
    padding: 0.75rem 1.25rem;
    font-size: 1.2rem;
}

.pagination{
    border-radius: 10px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -2px;  
    right: -2px; 
    background-color: #c60202;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;  
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;  
    height: 20px;
}

.cliente-estrellas{
    font-size: 25px;
}

.cliente-estrellas span{
    font-weight: bold;
}