@import "bootstrap/dist/css/bootstrap"; 
@import url("products/show.css"); 
@import url("products/"); 
@import url("user/register.css"); 
@import url("home/");
@import url("home/navbar.css");
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "swiper/css/bundle";

header {
    background: white;
}

body {
    background: linear-gradient(to right, #880a0a, #880a0a);
    color: white;
}  
